<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leqienglish">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/le_jin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/le_jin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PlayAudioActivity" />
        <activity android:name=".activity.content.ArticleInfoActivity" />
        <activity android:name=".activity.suggestion.SuggestionActivity" />
        <activity android:name=".activity.user.UserLoginActivity" />
        <activity android:name=".activity.user.UserRegistActivity" />
        <activity android:name=".activity.content.ShowAllContentActiviey" />

        <activity android:name=".activity.load.LoadingActivity"></activity>
        <activity android:name=".activity.word.WordInfoActivity"></activity>
        <activity android:name=".activity.word.ArticleWordListActivity"></activity>
        <activity android:name=".activity.word.ReciteWordsActivity"></activity>
        <activity android:name=".activity.segment.RecitingSegmentActivity"></activity>
        <activity android:name=".activity.reciting.RecitingArticleListActivity"></activity>

        <activity android:name=".activity.word.ReciteWordsReviewActivity"></activity>
    </application>

</manifest>